<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="home">
        <div class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-cart-shopping nav-icon"></i> <span class="h3 bold">fresh cart</span></div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="wishList">wish list</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li> <li class="nav-item">
            <a class="nav-link" routerLink="categories">catrgories</a>
          </li> <li class="nav-item">
            <a class="nav-link" routerLink="brands">brands</a>
          </li>
          
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-2">
            <!-- <li class="nav-item">
                <i class="fa-solid fa-basketball"></i>
              </li>
              <li class="nav-item">
                <i class="fa-brands fa-facebook"></i>  </li>
              <li class="nav-item">
                <i class="fa-brands fa-twitter"></i>
              </li>
              <li class="nav-item">
                <i class="fa-brands fa-linkedin"></i>              </li>
              <li class="nav-item">
                <i class="fa-brands fa-youtube"></i>       
                     </li> -->
                <li class="nav-item position-relative">
                  <a class="nav-link" routerLink="/cart"*ngIf="isLoggedIn">
                    <i class="fa-solid fa-cart-shopping fs-3"></i>
                    <div class="badge  position-absolute text-white top-0 end-0 bg-main">{{numOfCartItems}}</div>
                  </a>
                </li>
        
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link "  routerLink="sign-up" >register</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link" routerLink="sign-in">log in</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn" (click)="logOut()">
              <a class="nav-link" >log out</a>
            </li> 

            <li class="nav-item" routerLink="/settings" >
              <a class="nav-link" >Settings</a>
            </li> 
          
            
          </ul>
        
      </div>
    </div>
  </nav>