<div class="container py-5 my-5 p-5 bg-light rounded ">
    <div class="d-flex justify-content-between mb-4" >
        <h2>Cart Shop</h2>
    <button class="btn btn-primary btn-lg" *ngIf="cartDetails?.data"> <a routerLink="/check-out" class="text-decoration-none text-white"[routerLink]="['/check-out',cartDetails.data._id]" >check out</a> </button>
    </div>
    <p class="mx-auto h2 " *ngIf="!cartDetails?.data" >your cart is empty</p>
    <div class="d-flex justify-content-between align-items-center" *ngIf="cartDetails?.data">
        <h5>total price: <span class="green">{{cartDetails.data.totalCartPrice}}</span></h5>
        <h5>total number of items: <span class="green">{{cartDetails.numOfCartItems}}</span></h5>

    </div>

    <div class="row border-bottom my-3 d-flex align-items-center p-2" *ngFor="let product of cartDetails.data.products|filterCart">
        <div class="col-md-2">
            <img [src]="product.product.imageCover" class="w-100" alt="">
        </div>
        <div class="col-md-10 d-flex justify-content-between">
           <div>
            <h5>{{product.product.title}}</h5>
            <h6>{{product.price}} EGP</h6>
            <button class="btn btn-sm m-0 p-0 text-danger" (click)="removeItem(product.product.id)" > <i class="fa fa-trash" ></i> Remove</button>
           </div>
            <div>
                <button class="btn btn-count btn-md" (click)="updateCart(product.product.id,product.count+1)">+</button>
                <span class="mx-3">{{product.count}}</span>
                <button class="btn btn-count btn-md" (click)="updateCart(product.product.id,product.count-1)">-</button>
            </div>
        </div>
        
    </div>


   <button class="btn-count btn btn-lg d-block mx-auto" (click)="clearCart()" *ngIf="cartDetails?.data"> Clear Your Cart</button>
</div>