<div class="container my-3">
    <div class="row g-0 justify-content-center">
        <div class="col-md-3">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><img src="./assets/images/41nN4nvKaAL._AC_SY200_.jpg" alt="" ></ng-template>  
                <ng-template carouselSlide><img src="./assets/images/61cSNgtEISL._AC_SY200_.jpg" alt="" ></ng-template>  
                <ng-template carouselSlide><img src="./assets/images/XCM_Manual_1396328_4379574_Egypt_EG_BAU_GW_DC_SL_Jewelry_379x304_1X._SY304_CB650636675_.jpg" alt="" ></ng-template>  
              </owl-carousel-o>
        </div>
        <div class="col-md-3">
            <img src="./assets/images/XCM_Manual_1396328_4379575_Egypt_EG_BAU_GW_DC_SL_Bags_Wallets_379x304_1X._SY304_CB650636675_.jpg" alt="" class="w-100 " >
            <img src="./assets/images/XCM_Manual_1533480_5305769_379x304_1X._SY304_CB616236518_.jpg" alt="" class="w-100 " >
        </div>
    </div>
</div>